.table,
.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.table {
  text-align: center;
}

.display-6 {
  font-size: 25px;
}

p {
  font-weight: 500;
}

.clear {
  text-align: right;
}

small {
  display: inline-block;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}