.datasets {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selectors {
  display: flex;
  justify-content: space-between;
}

.from-select,
.to-select {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
}

.datasets {
  align-items: baseline;
}