<h1 class="display-6 text-center">Forecast chart for London</h1>

<app-loading-msg
  *ngIf="yAxeData.length === 0; else table"
/>

<ng-template #table>
  <div class="selectors">
    <app-forecast-select
      [options]="filterSelectOptions"
      [(value)]="filterSelectValue"
    />
    <div class="datasets">
      <p>Dataset:</p>
      <app-forecast-select
        [options]="datasetSelectOptions"
        [(value)]="datasetSelectValue"
      />
    </div>
  </div>
  
  <p-chart
    type="line"
    *ngIf="xAxeData.length > 0 && yAxeData.length > 0"
    [data]="selectedDataset.data"
    [options]="selectedDataset.options"
  ></p-chart>
</ng-template>
