.input-group {
  width: 200px;
}

form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}

.preview {
  text-align: center;
  margin: 2rem 0;

  p {
    font-size: 35px;
  }

  span {
    font-weight: 500;
  }

  .result {
    color: #0d6efd;
  }
  
  .result-reverse {
    color: #712cf9;
  }
}