.input-group {
  width: 200px;
}

form {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.error-container {
  width: 900px;
  margin: 0 auto;
  padding: .5rem 0;
  
  .form-text {
    color: red;
  }
}

.preview {
  text-align: center;
  margin: 2rem 0;

  p {
    font-size: 35px;
  }

  span {
    font-weight: 500;
  }

  .result {
    color: #0d6efd;
  }
  
  .result-reverse {
    color: #712cf9;
  }
}