@import "../../shared/variables";

h1.display-6 {
  margin: $page-header-margin 0;
}

svg {
  width: 25px;
}

.alert {
  height: 65px;
}

.text {
  font-size: 17px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

button {
  width: 100%;
  margin-top: 1rem;
}

.container a {
  display: inline-block;
  padding: .5rem;
  margin: 2rem 0;
  font-weight: 500;
  color: $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}