<nav>
  <ul class="nav bg-body-tertiary justify-content-end">

    <li class="nav-item">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/bootstrap-logo.svg" alt="BootstrapLogo" width="41" height="35">
        <h1 class="display-6">Bootstrap Weather App</h1>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/forecast"
        routerLinkActive="active"
      >
        Forecast
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/chart"
        routerLinkActive="active"
      >
        Chart
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/calculator"
        routerLinkActive="active"
      >
        Heat Index
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/login">
        <button
          type="button"
          class="btn btn-primary"
        >
          Sign In
        </button>
      </a>
    </li>

  </ul>
</nav>
